* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--secondary-color);
}

:root {
    --primary-color: #454568;
    --secondary-color: #ecf0f1;
    --accent-color: #f39c12;
    --complementary-color: #34495e;
    --button-color: #ecf0f1;
    --text-color: #000000;
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}


.calc-body {
    border: 5px solid black;
    height: 70%;
    max-width: 400px;
    min-width: 100px;
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 8px 25px 8px;
    background-color: var(--complementary-color);
    gap: 70px;
    border-radius: 10px;
}

.display {
    width: 90%;
    height: 13%;
    background-color: var(--secondary-color);
    color: #000000;
    font-size: 2.3rem;
    display: flex;
    align-items: flex-start;
    justify-content: end;
}

.button-containers {
    height: 80%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.buttons {
    width: 25%;
    height: 16%;
    color: var(--text-color);
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 700;
}

#zero {
    width: 50%;
}

.digit {
    background-color: var(--button-color);
}

.accent {
    background-color: var(--accent-color);
}
